h1{
  text-align: center;
  font-size: 7em;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}


h2{
  color: black;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
}

.map{
  align-items: center;

  justify-content: center;
}


.mapbackground {
  background-image: url("http://ontheworldmap.com/uk/city/birmingham/birmingham-tourist-map.jpg");
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  position: relative;
  box-sizing: content-box;
  width: 20%;
  height: 50vh;
  padding: 0;

}

footer{
  display:block;
  align-items: center;
  background-color: black;
  color:white;
  line-height: 1.2;
  text-align: center;
  box-sizing: content-box;
  padding:10px;


}
