section.jubotron {

  background-image: url(http://static1.squarespace.com/static/532dd2f1e4b05fcbbaccda02/55aa5390e4b03d37e3220b36/58177ce059cc689660bb2f64/1541175299385/St-Martins-Gate.jpg);
  background-position: center;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  padding: 10% 0;}


.carousel-inner > .carousel-item > img {
    margin: 0 auto;
    width: auto;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

  .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    text-align: center;
  }

  h1{
    text-align: center;
    font-size: 7em;
    color: white;
    text-shadow:
    -1px -1px 0 #e26638,
    1px -1px 0 #e26638,
    -1px 1px 0 #e26638,
    1px 1px 0 #e26638;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}
  }
  article{
    text-align: center;
    color: white;
  }

  section.whybirmingham {
    background-color: #ed981a;
    background-position: center;
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    padding: 10% 0;


  }
  #information {
    text-align:center;
    font-size: 1em;
    color: black;
    margin: 10%;
    box-sizing: content-box;
  }

  section.top-picks{
    background-color: #f2ca1a;
    background-position: center;
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
    box-sizing: content-box;
    width: 100%;
    padding: 10% 0;
  }

  a {
    color: #ffa500;
    webkit-transition: all 0.2s;
    moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  a:-webkit-any-link {

    cursor: pointer;

  }

  .gallery-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto; }

    .gallery-box
    .gallery-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(255, 134, 227, 0.9);
    webkit-transition: all 0.2s;
    moz-transition: all 0.2s;
    transition: all 0.2s;
  }

    .gallery-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.project-category{
  font-size: 16px;
  padding: 0 15px;
  }

  .text-faded{
    color: rgba(255, 255, 255, 0.7);

    }

    h2{
      color: white;
      text-align: center;
      font-size: 2em;
    }


  .bg-light{
    color: yellow;}
