section.jubotron {

  background-image: url(http://static1.squarespace.com/static/532dd2f1e4b05fcbbaccda02/55aa5390e4b03d37e3220b36/58177ce059cc689660bb2f64/1541175299385/St-Martins-Gate.jpg);
  background-position: center;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  padding: 10% 0;
}

.gallery{
  margin-top: 30px;
}

.carousel-inner > .carousel-item > img {
  margin: 0 auto;
  width: auto;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  width: 600px;
  height: 500px;
}


h1{
  text-align: center;
  font-size: 7em;
  color: white;
  text-shadow:
  -1px -1px 0 #e26638,
  1px -1px 0 #e26638,
  -1px 1px 0 #e26638,
  1px 1px 0 #e26638;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

article{
  text-align: center;
  color: white;
}

section.whybirmingham {
  background-color: #ed981a;
  background-position: center;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  box-sizing: content-box;
  width: 100%;
  padding: 10% 0;

}


#information {
  text-align:center;
  font-size: 1em;
  color: black;
  margin: 10%;
  box-sizing: content-box;
}

section.top-picks{
  background-color: #f2ca1a;
  background-position: center;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  box-sizing: content-box;
  width: 100%;
  padding: 10% 0;
}

a.nav-item{
  color: #ffa500;

}

a:-webkit-any-link {

  cursor: pointer;
}




.carousel-caption{
    margin-top: 20px;
    position: relative;
    left: auto;
    right: auto;
  }


  .carousel-controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 43%;
  }



.carousel-controls a:hover {

transition: all .2s ease-in-out;
 transform: scale(1.4);

}

  #prev {
    margin-left: 10%;
  }

  #next{
    margin-right: 10%;
  }

  .text-faded{
    color: rgba(255, 255, 255, 0.7);

  }

  h2{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
  }
