
body{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}


 section.jubotron{
 background: url('../Birmingham.jpg');
  background-position: center;
  background-attachment:fixed;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  height: 100vh;
  padding: 0;
}


#main-title{
  text-align: center;
  font-size: 7em;
  color: white;
  text-shadow:
  -1px -1px 0 #e26638,
  1px -1px 0 #e26638,
  -1px 1px 0 #e26638,
  1px 1px 0 #e26638;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding-top: 15%;
}

#yes-button{
           background-color: white;
           border-radius: 30px;
           color: black;
           padding: 15px 29px;
           text-decoration: none;
           font-size: 15px;
           cursor: pointer;
           border:none;
           margin-right: 40%;
}

#no-button{
  background-color:black;
  color:white;
  border-radius:30px;
  padding: 15px 29px;
  text-decoration:none;
  margin-top:30px;
  font-size: 15px;
  cursor:pointer;
  border:none;


}

#closebutton{
  border-radius:30px;
  background-color:#e26638;
  color:white;
  border:none;

}

#yes-button:hover{
  background-color: #3e8e41;
  color: white;
  transition: all .2s ease-in-out;
  transform: scale(1.4);

}

#no-button:hover{
  background-color: red;
  color: white;
  transition: all .2s ease-in-out;
  transform: scale(1.4);}


h1{
  text-align: center;
  font-size: 7em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.socialmedia {
  width: 50px;
  position: absolute;
 width: 100%;
 top: 50%;
 text-align: center;
 transform: translateY(-50%);
 display: inline-block;
   vertical-align: middle;
   position: relative;
   width: 100px;
   height: 100px;

 }

.fa:hover {
  opacity: 0.7;
  padding: 20px;

}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}


/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #fb3958;
  color: white;
}



section.whybirmingham {
  background-color: #BC4639;
  background-position: center;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  box-sizing: content-box;
  width: 100%;
  padding: 10% 0;

}


#information {
  text-align:center;
  font-size: 1em;
  color: white;
  margin: 10%;
  box-sizing: content-box;
}

section.top-picks{
  background-color: #D4A59A;
  background-position: center;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  box-sizing: content-box;
  width: 100%;
  padding: 10% 0;
}

.gallery{
  margin-top: 30px;
}

.carousel-inner > .carousel-item > img {
  margin: 0 auto;
  width: auto;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  height: 520px !important;
  width: 900px !important;
}


a.nav-item{
  color: #ffa500;
}

a:-webkit-any-link {
  cursor: pointer;
}


.carousel-caption{
    margin-top: 20px;
    position: relative;
    left: auto;
    right: auto;
  }


  .carousel-controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 43%;
  }


  .carousel-controls a:hover {

    transition: all .2s ease-in-out;
    transform: scale(1.4);

  }

  #prev {
    margin-left: 10%;
  }

  #next{
    margin-right: 10%;
  }

  h2{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
  }

  h4{
    font-size: 0.75em;
    font-weight: lighter;
    text-align:center;
    justify-content: center;
    font-style: italic;
    margin-top: 10px;
    box-sizing: content-box;
    padding:10px;
    line-height: 1.5;}

	section.contact {
		  background-color: #F3E0DC;
		  background-position: center;
		  webkit-background-size: cover;
		  moz-background-size: cover;
		  o-background-size: cover;
		  background-size: cover;
		  box-sizing: content-box;
		  width: 100%;
		  padding: 10% 0;

		}


		/* Style the input elements and the submit button */
		input[type=text], input[type=submit] {
		  width: 100%;
		  padding: 12px;
		  margin: 8px 0;
		  display: inline-block;
		  box-sizing: border-box;
		}

		input[type=checkbox] {
		  margin-top: 16px;
		}

		/* Style the submit button */
		input[type=submit] {
		  background-color: #4CAF50;
		  color: white;
		  border: none;
			border-radius:30px;
		  padding: 15px 29px;
			cursor:pointer;
		}

		input[type=submit]:hover {
		  opacity: 0.8;
		}


		.footer {
		  background-color: black;
		  text-align: center;
			display: block;
		  padding: 10px;
		}


		.scroll:hover .fa {
			padding-top:-10px;
		}
		.scroll .fa {
			font-size:30px;
			margin-top:-5px;
			margin-left:1px;
			transition: 0.5s;
			-moz-transition: 0.5s;
			-webkit-transition: 0.5s;
			-o-transition: 0.5s;
		}
